@page
@model RubiusTestTask.Pages.Records.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>New Record</h4>
<br/>

<div>
    <div>
        <form method="post">
          <div>
                <div class="input-field col s12">
                    <select asp-for="Record.Project">
                        <option value="ProjectA">ProjectA</option>
                        <option value="ProjectB">ProjectB</option>
                        <option value="ProjectC">ProjectC</option>
                        <option value="ProjectD">ProjectD</option>
                        <option value="ProjectE">ProjectE</option>
                    </select>
                    <label>Project</label>
                </div>
               </div>
            <div>
                <label asp-for="Record.Comments"></label>
                <input asp-for="Record.Comments"/>
            </div>
            <div>
                <label asp-for="Record.Date"></label>
                <input asp-for="Record.Date"/>
            </div>
            <div class="row">
                <button type="submit" class="btn col s5 waves-effect waves-light">Create</button>
                <div class="col s2"></div>
                <a class="waves-effect waves-light btn col s5 red" asp-page="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
