@page
@model RubiusTestTask.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Home Page</h1>
</div>
<div>
    <div>
        <h3>Welcome to the home Page</h3>
        <p>
            Use the top navigation bar to go to the records page
        </p>
    </div>
</div>
